gatedesc
  label(for="#gatetable") ゲートモンスター
  table#gatetable.table
    thead: tr
      th 名前
      th リーチ
      th 範囲
      th 段数
      th 外皮
    tbody: tr(each="{ selected }")
      th { name }
      th { reach }
      th { range }
      th { cmb }
      th { skin }

  script.
    var self = this
    self.selected = []
    obs.on('onselect', function(selected){
      self.selected = selected
      self.update()
    })
