gpdesc
  form(ref="formref", onsubmit="return false;")
    .row
      .col-xs-6
        .alert.alert-warning
          p.text-left 左上
          p.text-left: strong { objPray.modul.pray }
      .col-xs-6
        .alert.alert-danger
          p.text-left 右上
          p.text-left: strong { objPray.modur.pray }
    .row
      .col-xs-6.col-xs-offset-3
        .alert.alert-default
          p.text-left ゲート
          p.text-left: strong { objPray.modgt.pray }
    .row
      .col-xs-6
        .alert.alert-info
          p.text-left 左下
          p.text-left: strong { objPray.modll.pray }
      .col-xs-6
        .alert.alert-success
          p.text-left 右下
          p.text-left: strong { objPray.modlr.pray }
