pray
  section
    h3 お祈り計算できるマン3.1 
      small (更新:{ document.lastModified })
    jst 
    .row
      //マッチングのボタン群
      .col-md-4
        #gldbg
          #layer
            .row
              .col-xs-6
                .alert.alert-warning(type="button", data-toggle="modal", data-target="#upleft", tabindex="0")
                  p.text-left 左上({ objPray.modul.min })
                  p.text-left: strong { objPray.modul.pray }
              .col-xs-6
                .alert.alert-danger(type="button", data-toggle="modal", data-target="#upright", tabindex="0")
                  p.text-left 右上({ objPray.modur.min })
                  p.text-left: strong { objPray.modur.pray }
            .row
              .col-xs-6.col-xs-offset-3
                .alert.alert-default(type="button", data-toggle="modal", data-target="#gate", tabindex="0")
                  p.text-left ゲート({ objPray.modgt.min })
                  p.text-left: strong { objPray.modgt.pray }
            .row
              .col-xs-6
                .alert.alert-info(type="button", data-toggle="modal", data-target="#lowleft", tabindex="0")
                  p.text-left 左下({ objPray.modll.min })
                  p.text-left: strong { objPray.modll.pray }
              .col-xs-6
                .alert.alert-success(type="button", data-toggle="modal", data-target="#lowright", tabindex="0")
                  p.text-left 右下({ objPray.modlr.min })
                  p.text-left: strong { objPray.modlr.pray }
        gatedesc
      //ゲート情報
      .col-md-8
        gpcalc
    //モーダル置き場
    praymodal(ref="modul", refname="modul", modid="upleft", modtitle="左上",  modcolor="panel-warning")
    praymodal(ref="modur", refname="modur", modid="upright", modtitle="右上", modcolor="panel-danger")
    gatemodal(ref="modgt", refname="modgt", modid="gate", modtitle="ゲート", modcolor="panel-default")
    praymodal(ref="modll", refname="modll", modid="lowleft", modtitle="左下", modcolor="panel-info")
    praymodal(ref="modlr", refname="modlr", modid="lowright", modtitle="右下", modcolor="panel-success")
      
  script.
    var self = this
    self.objPray = {
      modul: { pray: "タップしてね", min: "-分" },
      modur: { pray: "タップしてね", min: "-分" },
      modgt: { pray: "タップしてね", min: "-分" },
      modll: { pray: "タップしてね", min: "-分" },
      modlr: { pray: "タップしてね", min: "-分" },
    }
    obs.on('onclock', function(clockmin){
      self.clockmin = clockmin
    })
    obs.on('oncalc', function(refname, prayed){
      self.objPray[refname].pray = prayed
      self.objPray[refname].min = self.clockmin
      self.update()
    })
    self.on('mount', function(){
      $(function(){
        $("#upleft").on('shown.bs.modal', function(){
          $("#upright .close").focus()
        })
        $("#upright").on('shown.bs.modal', function(){
          $("#upleft .close").focus()
        })
        $("#gate").on('shown.bs.modal', function(){
          $("#gate .close").focus()
        })
        $("#lowleft").on('shown.bs.modal', function(){
          $("#lowleft .close").focus()
        })
        $("#lowright").on('shown.bs.modal', function(){
          $("#lowright .close").focus()
        })
      })
    })

    
  style.
    .alert-default {
      background-color: #f5f5f5;
      border-color: #ddd;
    }
    #gldbg {
      background: url("ettaso.jpeg") no-repeat center center;
      background-size: contain;
    }
    #layer {
      background-color: rgba(255,255,255,0.5);
    }
    .modal-open {
       position: absolute;
    }
